{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<div class="container">
	<div class="frame">
		<div class="nav">
			<ul class"links">
				<li class="btn">Enter Details to Upload</li>
			</ul>
		</div>
		<div>
			<form class="form-signin" action="" method="post" name="form">
				<label for="claim">Claim Details</label>
				<select class="form-styling claim_id"  id="claim_id" name="claim_id">
				  <option value="1">Volvo</option>
				  <option value="2">Saab</option>
				  <option value="3">Fiat</option>
				  <option value="4">Audi</option>
				</select>
				<label for="name">Name</label>
				<input class="form-styling" type="text" name="name" placeholder=""/>
				<label for="phone">Phone Number</label>
				<input class="form-styling" type="text" name="phone" placeholder=""/>
				<div class="btn-signin btn-animate">
					Send Link
				</div>
			</form>
		</div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>