{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<div class="container">
	<div class="frame">
		<div class="nav">
			<ul class"links">
				<li class="btn">Enter Details to Upload</li>
			</ul>
		</div>
		<div>
			<form class="form-details" action="sms/" method="post" name="form">
				{% csrf_token %}
				<label for="claim">Claim Details</label>
				<select class="form-styling claim_id"  id="claim_id" name="claim_id" required> 
					{% for claim in claims %}
					    <option value='{{claim.id}}'>{{claim.description}}</option>
					{% endfor %}
				</select>
				<label for="name">Name</label>
				<input class="form-styling" type="text" name="name" placeholder="" required/>
				<label for="phone">Phone Number</label>
				<input class="form-styling" type="tel" name="phone" pattern="[0-9]{10}" placeholder="10-digits" required/>
				<button type="submit" class="btn-signin btn-animate">
					Send Link
				</button>
			</form>
		</div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>